@media screen and (min-width: 768px) {
  .category-card {
    max-width: 13rem !important;
    height: 13rem !important;
  }
  .category-card img {
    max-width: 07rem !important;
    max-height: 07rem !important;
  }
}


.categories-container {
  margin: 0 auto;
  margin-top: 2rem;
  margin-bottom: 2rem;
  max-width: 600px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.category-card {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: 9rem;
    height: 9rem;
    border-radius: 15px;
    background-color: #431C00;
    cursor: pointer;
}

.category-card img {
  width: 100%;
  max-width: 5rem;
  height: 100%;
  max-height: 5rem;
  color: white;
}

