.categories-container {
  margin-top: 2em;
  margin-bottom: 2em;
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  height: 100%;
}

.category-card {
    border: 1px solid black ;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    font-size: 12px;
    font-weight: bold;
    width: 30vw;
    border-radius: 15px;
    padding-bottom: 5px;
    background-color: #f5938b;
}

.category-card img {
  width: 20vw;
}