.product {
    width: 100%;
    height: 100%;
    max-width: 300px;;
    border-radius: 20px;
    max-height: 255px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin-top: 1em;
    margin-bottom: 1em;
    cursor: pointer;
    background-color: #f1e7c5;
    box-shadow: 1.5px 1.5px 1.5px 1.5px #eddda6;
}

.product h1 {
    padding-top: 0.5em;
    font-size: 1rem;
}

.thumb-container {
    max-width: 180px;
    width: 100%;
    height: 180px;
}

.thumb-container img {
    width: 100%;
    max-width: 160px;
    height: 160px;
}

.product p {
    font-size: 1rem;
    border-radius: 30px;
    width: 100%;
    max-width: 150px;
    text-align: center;
    background-color: #b6d4bb;
    box-shadow: 0.5px 0.5px 0.5px 0.5px #6ed47f;
    margin-top: 1em;
}


