.product {
    width: 80vw;
    height: 20em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    margin-top: 2em;
    cursor: pointer;
}

.product img {
    width: 100%;
}

.product h1 {
    width: 100%;
    font-size: 1rem;
    text-align: center;
}

.product p {
    width: 100%;
    font-size: 1rem;
    text-align: center;
}
