.products-container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

.all-button {
    display: flex;
    width: 100%;
    justify-content: center;
    padding-top: 10%;
}

.all-button button {
    width: 9em;
    border-radius: 30px;
    height: 3em;
    background-color: #f0cdab;
    border: none;
    font: bolder;
}