@media screen and (min-width: 768px) {
  .products-container {
    flex-direction: row !important;
    max-width: 600px !important;
  }
}

@media screen and (min-width: 1024px) {
  .products-container {
    max-width: 900px !important;
  }
}
  

.home-main {
	margin-top: 10rem;
}

.products-container {
    margin: 0 auto;
    width: 100%;
    max-width: 900px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-evenly ;
    align-items: center;
    margin-bottom: 30px;
}

.all-button {
    display: flex;
    width: 100%;
    justify-content: center;
    margin-bottom: 2rem;
}

.all-button button {
    width: 100%;
    max-width: 11rem;
    border-radius: 30px;
    height: 3.6rem;
    background-color: #B00505;
    border: none;
    font: bolder;
    color: white;
    font-size: 1.2rem;
    margin-bottom: 2rem;
}

.not-found {
  text-align: center;
  margin-top: 100px;
}