@media screen and (min-width: 375px) {
  .image-container img {
    max-width: 370px !important;
    height: 370px !important;
  }
}

@media screen and (min-width: 393px) {
  .image-container img {
    max-width: 400px !important;
    height: 400px !important;
  }
}

@media screen and (min-width: 768px) {
  .image-container img {
    max-width: 500px !important;
    height: 500px !important;
  }
  .react-slideshow-container{
    width: 70vw !important;
  }
}

@media screen and (min-width: 1024px) {
  .image-container img {
    max-width: 600px !important;
    height: 600px !important;
  }
  .react-slideshow-container{
    width: 550px !important;
  }
}

.product-detail-main {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.back-button {
  display: flex;
  justify-content: center;
  border-radius: 30px;
  align-items: center;
  background-color: #6ed47f;
  width: 60px;
  height: 60px;
  margin-top: 40px;
  margin-bottom: 20px;
}

.back-button button {
    width: 100%;
    border: none;
    border-radius: 20px;
    background-color: #6ed47f;
}

.back-button img {
    width: 40px;
}

.react-slideshow-container {
    margin: 0 auto;
    width: 320px;
}

.image-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.image-container img {
    width: 100%;
    max-width: 320px;
    height: 320px;
}

.product-detail-main .product {
  margin-bottom: 50px;
}