.product-detail-main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.back-button {
  display: flex;
  justify-content: center;
  border-radius: 30px;
  align-items: center;
  border: 1px solid black;
  background-color: green;
  width: 6rem;
  height: 6rem;
}

.back-button button {
    width: 100%;
    border: none;
    border-radius: 20px;
    background-color: green;
}

.back-button img {
    width: 4rem;
}