@media screen and (min-width: 768px) {
  .header-form input {
    width: 50rem !important;
  }
}

.header-form input {
    border: none;
    border-radius: 30px;
    height: 2em;
    font-size: 1.6rem;
    padding-left: 1em;
    font-family: "FontAwesome";
    border: 2px solid #B00505;
    width: 20rem;
}