    @media screen and (min-width: 768px) {
        .offc-container {
            max-width: 100px !important;
        }
    }

    .category {
        list-style: none;
    }

    .header-offcanvas-container {
        display: flex;
        justify-content: space-around;
        align-items: center;
    }

    .offcanvas-backdrop {
      background-color: transparent !important;
    }

    .offc-ul {
        padding-right: 2.1em;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
    }

    .offc-ul li {
        background-color: transparent;
        list-style: none;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 50px;
    }

    .offc-ul li:hover {
      width: 65px;
    }

    .offc-ul img {
      width: 100%;
      max-width: 50px;
      background-color: transparent;
    }

    .offc-ul button {
      border: none;
      background-color: transparent;
      font-size: 13px;
    }


    .offc {
      margin-top: 20px  ;
      background: rgba(255, 255, 255, 0.2);
      border-radius: 16px;
      box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
      border: 1px solid rgba(255, 255, 255, 0.3);
    }

    .offc-container {
      width: 100%;
      max-width: 90px;
      background-color: transparent;
      border: none;
    }


    .offcanvas.offcanvas-end {
      border: none !important;
    }

    .btn-close {
      width: 100%;
      background: none;
    }